@font-face{
    font-family: 'Pokemon Solid';
    src: url('../public/Fonts/Pokemon\ Solid.ttf');
}
.App{
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.pokemon-card{
    max-width: 20vw;
    width: 100%;
    border: 2px solid black;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
}
.pokemon-card h1{
    font-family: 'Pokemon Solid';
    font-weight: 100;
    font-size: 1rem;
}
.pokemon-card span , .pokemon-card p{
    font-family: 'Pokemon Solid';
    font-size: .9rem;
}
.pokemon-card:hover{
    cursor: pointer;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border: 2px solid red;
    rotate: -5deg;
    scale: 0.9;
}